{% extends "layout/basic.html" %}

{% block content %}
    <div class="row pt-3 h-100">
        <div class="col-3">
            <form class="m-0" method="post">
                {% csrf_token [ csrf_token] %}

                <fieldset>
                    <legend>{{ form_header }}</legend>

                    <div class="row mb-3">
                        <label for="{{ form.from_time.id_for_label }}"
                               class="col-2 col-form-label col-form-label-sm">От</label>
                        <div class="col-5">
                            {{ form.from_time }}
                        </div>
                        <div class="col-5">
                            {{ form.from_date }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="{{ form.to_time.id_for_label }}"
                               class="col-2 col-form-label col-form-label-sm">До</label>
                        <div class="col-5">
                            {{ form.to_time }}
                        </div>
                        <div class="col-5">
                            {{ form.to_date }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="{{ form.tag.id_for_label }}"
                               class="col-2 col-form-label col-form-label-sm">{{ form.tag.label }}
                        </label>
                        <div class="col-10">{{ form.tag }}</div>
                    </div>

                    <div class="row mb-3">
                        <label for="{{ form.aggregate_window.id_for_label }}"
                               class="col-2 col-form-label col-form-label-sm">{{ form.aggregate_window.label }}
                        </label>
                        <div class="col-10">
                            {{ form.aggregate_window }}
                        </div>
                    </div>

                    <hr/>
                    <div class="row mb-3">
                        <div class="col-2">
                            <label class="col-form-label col-form-label">График</label>
                        </div>
                        <div class="col-10">
                            <div class="btn-group d-flex" role="group" aria-label="Output">
                                <button type="submit" class="btn btn-primary" name="plot_show">
                                    <i class="fas fa-up-right-from-square"></i> Показать
                                </button>
                                <button type="submit" class="btn btn-primary" name="plot_png"
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Загрузить график в формате png">
                                    <i class="fas fa-file-image"></i> png
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-2">
                            <label class="col-form-label col-form-label">Таблица</label>
                        </div>
                        <div class="col-10">
                            <div class="btn-group d-flex" role="group" aria-label="Output">
                                <button type="submit" class="btn btn-primary" name="table_show">
                                    <i class="fas fa-up-right-from-square"></i> Показать
                                </button>
                                <button type="submit" class="btn btn-primary" name="table_excel"
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Загрузить таблицу в формате excel">
                                    <i class="fas fa-file-excel"></i> excel
                                </button>
                            </div>
                        </div>
                    </div>

                </fieldset>

            </form>
        </div>


        <div class="col-9 table-responsive" id="content">
            {% autoescape off %}
                {{ plot }}
            {% endautoescape %}
        </div>

    </div>

{% endblock %}