{% extends "layout/basic.html" %}

{% block content %}
    <div class="row pt-3">
        <div class="col-3">
            <form class="m-0" method="post">
                {% csrf_token [ csrf_token] %}

                <fieldset>
                    <legend>Промежуток времени</legend>

                    <div class="row mb-3">
                        <label for="{{ form.from_time.id_for_label }}"
                               class="col-2 col-form-label col-form-label-sm">От</label>
                        <div class="col-5">
                            {{ form.from_time }}
                        </div>
                        <div class="col-5">
                            {{ form.from_date }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="{{ form.to_time.id_for_label }}"
                               class="col-2 col-form-label col-form-label-sm">До</label>
                        <div class="col-5">
                            {{ form.to_time }}
                        </div>
                        <div class="col-5">
                            {{ form.to_date }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="{{ form.tag.id_for_label }}"
                               class="col-2 col-form-label col-form-label-sm">{{ form.tag.label }}
                        </label>
                        <div class="col-10">{{ form.tag }}</div>
                    </div>

                    <div class="row mb-3">
                        <label for="{{ form.aggregate_window.id_for_label }}"
                               class="col-2 col-form-label col-form-label-sm">{{ form.aggregate_window.label }}
                        </label>
                        <div class="col-10">
                            {{ form.aggregate_window }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="btn-group d-flex" role="group" aria-label="Output">
                                <button type="submit" class="btn btn-primary" name="plot">
                                    <i class="fas fa-chart-line"></i> График</button>
                                <button type="submit" class="btn btn-primary" name="table">
                                    <i class="fas fa-table"></i> Таблица</button>
                                <button type="submit" class="btn btn-primary" name="excel">
                                    <i class="fas fa-file-excel"></i> Excel</button>
                            </div>
                        </div>
                    </div>


                </fieldset>

            </form>
        </div>


        <div class="col-9">
            {% autoescape off %}
                {{ plot }}
            {% endautoescape %}

        </div>

    </div>

{% endblock %}