{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.darkly.min.css' %}" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
        }
    </style>
    <title>Hello, world!</title>
</head>
<body>

<div class="d-flex flex-column overflow-hidden min-vh-100 vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Потребление ресурсов</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarColor02"
                        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Электроэнергия
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/electricity/energy/">Потребление электроэнергии</a></li>
                                <li><a class="dropdown-item" href="/electricity/power/">Пиковая мощность</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/electricity/config/">Перечень точек учета</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Водоснабжение
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="flex-grow-1 overflow-auto">
        <div class="container-fluid h-100">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer class="container-fluid flex-grow-0 flex-shrink-1">
        ...
    </footer>
</div>


<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>