{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if request.session.theme == 'dark' %}
        <link href="{% static 'css/bootstrap/bootstrap.darkly.min.css' %}" rel="stylesheet">
    {% endif %}
    {% if request.session.theme == 'white' %}
        <link href="{% static 'css/bootstrap/bootstrap.flatly.min.css' %}" rel="stylesheet">
    {% endif %}
    {% if request.session.theme == 'sandstone' %}
        <link href="{% static 'css/bootstrap/bootstrap.sandstone.min.css' %}" rel="stylesheet">
    {% endif %}

    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <style>
        html, body {
            height: 100%;
        }
    </style>
    <title>Потребление ресурсов</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
</head>
<body>

<div class="d-flex flex-column overflow-hidden min-vh-100 vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Потребление ресурсов</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarColor02"
                        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-bolt"></i> Электроэнергия
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/electricity/energy/">Потребление электроэнергии</a>
                                </li>
                                <li><a class="dropdown-item" href="/electricity/power/">Пиковая мощность</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/electricity/config/">Перечень точек учета</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-tint"></i> Вода
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-wind"></i> Воздух
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-fire-flame-simple"></i> Газ
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-temperature-empty"></i> Тепло
                            </a>
                        </li>

                    </ul>
                    <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                       aria-controls="offcanvasExample">
                        <i class="fas fa-gear"></i>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="flex-grow-1 overflow-auto">
        <div class="container-fluid h-100">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer class="container-fluid flex-grow-0 flex-shrink-1 bg-primary">
        <span class="text-primary">.</span>
    </footer>
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Настройки</h5>
        <button type="button" class="btn-close {% if request.session.theme == 'white' %} btn-close-white {% endif %}"
                data-bs-dismiss="offcanvas" aria-label="Close">
        </button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-12">
                <form class="d-flex" method="post">
                    {% csrf_token [ csrf_token] %}
                    <fieldset>
                        <button class="btn btn-primary" type="submit" name="theme">
                            <i class="fas fa-adjust"></i> Тема
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
{# всплывающие сообщения #}
<script>
    let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });

</script>

</body>
</html>